.p{
    background: #16708b;
}

.b{
    background: #cbdfe6;
}

.border{
    border: #000000;
    background: #000000;
}
.t{
    position: absolute;

    
}
.cavalo{
    width:50px ;
    height: 50px;
    left: 4px;
    position: absolute;
    top: -8px;
}

#anima-div{
    position: absolute;
    animation: mov-div 9s infinite ;
    width: 50px;
    height: 50px;
    left: 40px;
    
    
}
@keyframes mov-div{
    0%{top: 0px; left: 50px;}
    20%{top:60px; left:150px;}
    30%{top: 157px; left: 200px;}
    40%{top: 257px; left:250px;}
    50%{top: 357px; left: 300px;} 
    60%{top: 357px; left: 300px;} 
    70%{top: 257px; left:250px;}
    80%{top: 157px; left: 200px;}
    90%{top:60px; left:150px;}
    100%{top: 0px; left: 50px;}
}